.formGroup {
  width: 352px;
}

.form {
  width: 100%;
  vertical-align: baseline;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  background-color: transparent;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.input {
  height: 100%;
  width: 100%;
  padding: 5px 5px 5px 12px;
  border-radius: 3px;
  border: 0px;
  box-sizing: border-box;
}

.button {
  border: none;
  width: 80%;
  height: 36px;
  cursor: default;
  position: relative;
  font-size: 15px;
  border-radius: 5px;
  white-space: nowrap;
  font-weight: bold;
  min-width: 36px;
  outline: none;
  padding: 0px 20px;
  text-align: center;
  user-select: none;
  appearance: none;
  opacity: 0.6 !important;
  color:rgba(223, 217, 217, 0.657);
  background: linear-gradient(-135deg, rgb(97, 87, 255) 0%, rgb(153, 51, 255) 100%);
 }

.button:hover {
  color: rgb(255, 255, 255);
  filter: brightness(110%) !important;

}

.error {
  color: red;
  font-weight: bold;
  margin-bottom: 15px;
}
